<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>com.apple.security.cs.allow-jit</key>
	<true/>
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.scripting-targets</key>
	<dict>
		<key>com.apple.TextEdit</key>
		<array>
			<string>com.apple.TextEdit</string>
		</array>
		<key>com.apple.Safari</key>
		<array>
			<string>com.apple.Safari</string>
			<string>com.apple.Safari.show-extensions-preferences</string>
			<string>com.apple.Safari.dispatch-message-to-extension</string>
		</array>
		<key>com.apple.mail</key>
		<array>
			<string>com.apple.mail</string>
			<string>com.apple.mail.compose</string>
		</array>
		<key>com.apple.systemevents</key>
		<array>
			<string>com.apple.systemevents</string>
			<string>com.apple.systemevents.window.position</string>
		</array>
	</dict>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.apple.TextEdit</string>
		<string>com.apple.Safari</string>
		<string>com.apple.mail</string>
		<string>com.apple.systemevents</string>
	</array>
</dict>
</plist>

